nav {
  background: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding: 1rem 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}